body {
        background-color: white;
    }

/* unvisited link */
a:link {
    color:rgb(162 170 173);
  }
  
  /* visited link */
  a:visited {
    color:rgb(214 0 28);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(124 37 41);
  }
  
  /* selected link */
  a:active {
    color:rgb(124 37 41);
  }

* {
        margin:0;
        padding:0;
        border:0;
}  
#wrapper {
        width:950px;
        margin: auto;
}

h1 { 
        text-align: center;
        font-family: Helvetica; 
        font-size: 48px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: bold; 
        padding-left: 250px;
        padding-right: 250px;
    } 
h2 { 
        text-align: center;
        font-family: Helvetica; 
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: bold; 
        padding-left: 250px;
        padding-right: 250px;
    } 

h3 { 
        text-align: center;
        font-family: Helvetica; 
        font-size: 16px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: normal; 
        padding-left: 250px;
        padding-right: 250px;
    } 

h4 { 
      text-align: left;
      font-family: Helvetica; 
      font-size: 16px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: bold; 
      padding-left: 250px;
      padding-right: 250px;
  } 

p {       
        text-align: left;
        font-family: Garamond; 
        font-size: 18px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: normal; 
        line-height: 32px;
        letter-spacing: 1px;
        padding-left: 250px;
        padding-right: 250px;
    } 
    
blockquote { 
        text-align: center;
        font-family: Helvetica; 
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: normal; 
        padding-left: 250px;
        padding-right: 250px;
   } 
    
pre {
  
        text-align: center; 
        font-family: Helvetica; 
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: normal; 
        padding-left: 250px;
        padding-right: 250px;
    }
