body {
        background-color: white;
    }

/* unvisited link */
a:link {
    color:rgb(162 170 173);
  }
  
  /* visited link */
  a:visited {
    color:rgb(214 0 28);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(124 37 41);
  }
  
  /* selected link */
  a:active {
    color:rgb(124 37 41);
  }

h1 { 
        text-align: center;
        font-family: Helvetica; 
        font-size: 48px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: bold; 
        padding-left: 220px;
        padding-right: 220px;
    } 
h2 { 
        text-align: center;
        font-family: Helvetica; 
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: bold; 
        padding-left: 220px;
        padding-right: 220px;
    } 

h3 { 
        text-align: center;
        font-family: Helvetica; 
        font-size: 16px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: normal; 
        padding-left: 220px;
        padding-right: 220px;  
    } 
    
p  {       
        text-align: left;
        font-family: Times; 
        font-size: 16px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: normal; 
        line-height: 24px;
        letter-spacing: 1px;
        padding-left: 220px;
        padding-right: 220px;
    } 
    
blockquote { 
        text-align: center;
        font-family: Helvetica; 
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: normal; 
        padding-left: 220px;
        padding-right: 220px;      
    } 
    
pre {
  
        text-align: center; 
        font-family: Helvetica; 
        font-size: 20px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: normal; 
        padding-left: 220px;
        padding-right: 220px;       
    }
