body {
        background-color:rgb(208 208 206);
    }

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: red;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(124 37 41);
  }
  
  /* selected link */
  a:active {
    color:rgb(124 37 41);
  }

h1 { 
        font-family: Helvetica; 
        font-size: 24px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 700; 
        line-height: 36px; 
    } 
h2 { 
        font-family: Helvetica; 
        font-size: 24px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 700; 
        line-height: 36px; 
    } 

h3 { 
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
        font-size: 14px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 700; 
        line-height: 15.4px;
    } 
    
p  { 
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
        font-size: 14px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 400; 
        line-height: 20px; 
    } 
    
blockquote { 
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
        font-size: 21px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 400; 
        line-height: 30px; 
    } 
    
pre { 
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
        font-size: 13px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 400; 
        line-height: 18.5714px; 
    }
